body{
    display:flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}
.top{

    margin-top: 50px;
    margin-left:50px;}
   
.phone{
    float:left;
    margin-left: 200px;
    width: 350pxs;
   
}
.login{
    border: 1px solid #ddd;
    display :block;
    margin-left: 650px;
    width:350px;
    text-align: center;
    margin-right: 200px;
    padding:15px;
}

.log{
    border: 1px solid #ddd;
    display :block;
    margin-left: 650px;
    width:350px;
    text-align: center;
    margin-right: 200px;
    padding:15px;
    margin-top: 10px;
}

#download{
    display :block;
    margin-left: 750px;
    margin-right: 200px;
}

#store{
    margin-top: 2px;
}

.logof{
    float :left;
    margin-left: 60px;
}

.login{
    display: block;
}
.facebook{
    margin:0px;
    margin-bottom: 20px;
    width: 95%;
}

.facebook a{
    font-weight: bold;
}
#ff{
    margin-right: 50px;
    text-decoration: none;
}



input{
    width: 70%;
            padding: 12px;
            margin: 8px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
}
.sign{
     width: 90%;
     padding:10px;
     background-color:#0095f6 ;
     color:white;
     border-radius: 5px;
     font-size: 16px;
}

.or{
    display: flex;
    align-items: center;

}

.or hr{
    width: 30%;
    border: 0.5px solid #ddd;
}

.app{
    margin-left: 450px;
    display: flex;
     justify-content: center;
}

.info{
    text-align: center;
    color: #777;
    font-size: 12px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.info p {
    max-width: 80%;
    line-height: 1.5;
}
